<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <!-- EMAIL -->
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [formControl]="email"
        [attr.aria-invalid]="
          email.invalid && (email.touched || submitted) ? 'true' : 'false'
        "
      />
      <div class="error-container">
        <small
          *ngIf="email.invalid && (email.touched || submitted)"
          role="alert"
          class="error"
        >
          <span *ngIf="email.errors?.['required']">Email is required.</span>
          <span *ngIf="email.errors?.['email']">Email must be valid.</span>
        </small>
      </div>
    </div>

    <!-- PASSWORD -->
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [formControl]="password"
        [attr.aria-invalid]="
          password.invalid && (password.touched || submitted) ? 'true' : 'false'
        "
      />
      <div class="error-container">
        <small
          *ngIf="password.invalid && (password.touched || submitted)"
          role="alert"
          class="error"
        >
          <span *ngIf="password.errors?.['required']"
            >Password is required.</span
          >
          <span
            *ngIf="
              password.errors?.['minlength'] || password.errors?.['maxlength']
            "
            >Password must be between 8 and 25 characters.</span
          >
        </small>
      </div>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? "Submitting..." : "Login" }}
    </button>
  </form>
</div>
